<div id="page">
  <h1 class="title">HTML5 Web Audio Recording</h1>

  <div data-editor>
    <nav>
      <ul>
        <li id="power">
          <%= switch_icon('power') %>
        </li>
      
        <li id="microphone">
          <%= switch_icon('microphone') %>
          <canvas id="live-waveform" width="100" height="36"></canvas>
        </li>

        <li id="metronome">
          <%= switch_icon('metronome') %>
          <span class="number-input-wrapper">
            <input name="bpm" value="120" type="number" />
          </span>
          <span class="bpm">BPM</span>
        </li>

        <li id="record" class="disabled">
          <ul id="record-controls">
            <li><%= switch_icon('circle') %></li>
            <li><%= switch_icon('undo') %></li>
          </ul>
        </li>

        <li id="playback" class="disabled">
          <ul id="playback-controls">
            <li><%= switch_icon('backward') %></li>
            <li><%= switch_icon('stop') %></li>
            <li><%= switch_icon('play') %></li>
            <li><%= switch_icon('pause') %></li>
            <li><%= switch_icon('forward') %></li>
        </li>
      </ul>
    </nav>

    <section id="workspace">
      <table id="container">
        <tbody>
          <tr>
            <td id="controls"></td>
            <td id="canvases">
              <div id="tracks"></div>
              <canvas id="grid"></canvas>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="workspace-controls">
        <ul class="controls right">
          <li>
            <label>Length</label><input name="workspace-length" type="number" />
          </li>
        </ul>
        <ul class="controls left">
          <li>
            <button id="add-track"><i class="fa fa-plus-square"></i>Add Track</button>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>